<button class="btn btn-default" [routerLink]="['/home']">Go Home</button>
<ng-container *ngIf="customers; else noCustomers">
    <h2 class="page-header">Customers</h2>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" *ngFor="let customer of customers">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{customer.customerID + '-details'}}">{{customer.customerName}}</a>
          </h4>
        </div>
        <div attr.id="{{customer.customerID + '-details'}}" class="panel-collapse collapse">
          <div class="panel-body">
            <li class="list-group-item"><b>ID:</b> {{customer.customerID}}</li>
            <li class="list-group-item"><b>Name:</b> {{customer.customerName}}</li><br>
            <button type="button" class="btn btn-primary" [routerLink]="['/customers/'+customer.customerID]">View Customer Page</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/home']">Create Inquiry</button>
          </div>
        </div>
      </div>
    </div>
</ng-container>
<ng-template #noCustomers>
  <h2 class="page-header">Loading...</h2>
  <p>Try refreshing the page if there is a significant delay.</p>
</ng-template>
