<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <button class="btn btn-default" [routerLink]="['/home']">Go Home</button>
</div>

<ng-container *ngIf="pendingLength!=0 || acceptedLength!=0 || declinedLength!=0; else noInquiries">
  <ng-container *ngIf="pendingLength!=0; else noPendingInquiries">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Pending Inquiries</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Received Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pendingInquiry of pendingInquiries;" [routerLink]="['/inquiries/'+pendingInquiry.inquiryID]">
            <td>{{pendingInquiry.inquiryID}}</td>
            <td>{{pendingInquiry.receivedDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noPendingInquiries>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Pending Inquiries</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>

  <ng-container *ngIf="acceptedLength!=0; else noAcceptedInquiries">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Accepted Inquiries</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Accepted Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acceptedInquiry of acceptedInquiries;" [routerLink]="['/inquiries/'+acceptedInquiry.inquiryID]">
            <td>{{acceptedInquiry.inquiryID}}</td>
            <td>{{acceptedInquiry.endDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </ng-container>
  <ng-template #noAcceptedInquiries>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Accepted Inquiries</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>

  <ng-container *ngIf="declinedLength!=0; else noDeclinedInquiries">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Declined Inquiries</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Declined Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let declinedInquiry of declinedInquiries;" [routerLink]="['/inquiries/'+declinedInquiry.inquiryID]">
            <td>{{declinedInquiry.inquiryID}}</td>
            <td>{{declinedInquiry.endDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </ng-container>
  <ng-template #noDeclinedInquiries>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Declined Inquiries</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>
</ng-container>
<ng-template #noInquiries>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">No Inquiries</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </div>
</ng-template>

<table id="example" class="table table-striped table-hover">
  <thead>
      <tr>
          <th>ID</th>
          <th>Accepted Date</th>
      </tr>
  </thead>
  <tfoot>
      <tr>
        <th>ID</th>
        <th>Accepted Date</th>
      </tr>
  </tfoot>
  <tbody>
      <tr *ngFor="let pendingInquiry of pendingInquiries;">
        <td>{{pendingInquiry.inquiryID}}</td>
        <td>{{pendingInquiry.receivedDate | date: 'MM/dd/yyyy'}}</td>
      </tr>
  </tbody>
</table>