<div class="pull-left">
  <button class="btn btn-default" [routerLink]="['/home']">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Go Home</button>
</div>

<ng-container *ngIf="inquiriesLength!=0; else noInquiries">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">Inquiries</h2>
    <h4>Click To View Details</h4>
    <table *ngIf="displayTable" datatable [dtOptions]="dtOptions" class="table table-bordered table-hover">
      <thead>
        <tr class="active">
          <th class="hidden-xs hidden-sm">ID</th>
          <th>Customer</th>
          <th>Job Name</th>
          <th class="hidden-xs hidden-sm">Status</th>
          <th>Received Date</th>
          <th class="hidden-xs hidden-sm">Accepted/Declined Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inquiry of inquiries;" id="{{inquiry.inquiryID}}" [ngClass]="{'info': inquiry.inquiryStatus=='PENDING','danger': inquiry.inquiryStatus=='DECLINED','success': inquiry.inquiryStatus=='ACCEPTED'}"
          [routerLink]="['/inquiries/'+inquiry.inquiryID]">
          <td class="hidden-xs hidden-sm">{{inquiry.inquiryID}}</td>
          <td>{{inquiry.customerName}}</td>
          <td>{{inquiry.jobName}}</td>
          <td class="hidden-xs hidden-sm">{{inquiry.inquiryStatus}}</td>
          <td>{{inquiry.receivedDate | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="inquiry.inquiryStatus != 'PENDING'" class="hidden-xs hidden-sm">{{inquiry.endDate | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="inquiry.inquiryStatus == 'PENDING'" class="hidden-xs hidden-sm">N/A</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #noInquiries>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">No Inquiries</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </div>
</ng-template>

<!-- <ng-container *ngIf="pendingLength!=0 || acceptedLength!=0 || declinedLength!=0; else noInquiries">
  <ng-container *ngIf="pendingLength!=0; else noPendingInquiries">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Pending Inquiries</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Received Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pendingInquiry of pendingInquiries;" [routerLink]="['/inquiries/'+pendingInquiry.inquiryID]">
            <td>{{pendingInquiry.inquiryID}}</td>
            <td>{{pendingInquiry.receivedDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #noPendingInquiries>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Pending Inquiries</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>

  <ng-container *ngIf="acceptedLength!=0; else noAcceptedInquiries">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Accepted Inquiries</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Accepted Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acceptedInquiry of acceptedInquiries;" [routerLink]="['/inquiries/'+acceptedInquiry.inquiryID]">
            <td>{{acceptedInquiry.inquiryID}}</td>
            <td>{{acceptedInquiry.endDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </ng-container>
  <ng-template #noAcceptedInquiries>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Accepted Inquiries</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>

  <ng-container *ngIf="declinedLength!=0; else noDeclinedInquiries">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Declined Inquiries</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Declined Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let declinedInquiry of declinedInquiries;" [routerLink]="['/inquiries/'+declinedInquiry.inquiryID]">
            <td>{{declinedInquiry.inquiryID}}</td>
            <td>{{declinedInquiry.endDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </ng-container>
  <ng-template #noDeclinedInquiries>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Declined Inquiries</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>
</ng-container>
<ng-template #noInquiries>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">No Inquiries</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </div>
</ng-template> -->