<!--<button class="btn btn-default" [routerLink]="['/home']">Go Home</button>
<ng-container *ngIf="bids; else noBids">
    <h2 class="page-header">Bids</h2>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" *ngFor="let bid of bids">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{bid.bidID + '-details'}}">Bid ID: {{bid.bidID}}</a>
          </h4>
        </div>
        <div attr.id="{{bid.bidID + '-details'}}" class="panel-collapse collapse">
          <div class="panel-body">
            <li class="list-group-item"><b>Estimated Cost:</b> ${{bid.bidCost}}</li>
            <li class="list-group-item"><b>Bid Price:</b> ${{bid.bidPrice}}</li>
            <li class="list-group-item"><b>Status:</b> {{bid.bidStatus}}</li><br>
            <button type="button" class="btn btn-primary" [routerLink]="['/home']">Create Job</button>
            <button type="button" class="btn btn-danger" [routerLink]="['/home']">Edit</button>
          </div>
        </div>
      </div>
    </div>
</ng-container>
<ng-template #noBids>
  <h2 class="page-header">Loading...</h2>
  <p>Try refreshing the page if there is a significant delay.</p>
</ng-template>-->




<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <button class="btn btn-default" [routerLink]="['/home']">Go Home</button>
</div>
  
<ng-container *ngIf="bidsLength!=0; else noBids">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">Bids</h2>
    <h4>Click To View Details</h4>
    <table *ngIf="displayTable" datatable [dtOptions]="dtOptions" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Price</th>
          <th>Customer</th>
          <th>Created Date</th>
          <th>Accepted/Declined Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bid of bids;" [routerLink]="['/bids/'+bid.bidID]">
          <td>{{bid.bidID}}</td>
          <td>{{bid.bidStatus}}</td>
          <td>{{bid.bidPrice}}</td>
          <td>{{bid.customerName}}</td>
          <td>{{bid.createdDate | date: 'MM/dd/yyyy'}}</td>
          <td>{{bid.endDate | date: 'MM/dd/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #noBids>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">No Bids</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </div>
</ng-template>

<!-- <ng-container *ngIf="pendingLength!=0 || acceptedLength!=0 || declinedLength!=0; else noBids">
  <ng-container *ngIf="pendingLength!=0; else noPendingBids">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Pending Bids</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pendingBid of pendingBids;" [routerLink]="['/bids/'+pendingBid.bidID]">
            <td>{{pendingBid.bidID}}</td>
            <td>{{pendingBid.bidPrice}}</td>
            <td>{{pendingBid.createdDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </ng-container>
  <ng-template #noPendingBids>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Pending Bids</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>
  
  <ng-container *ngIf="acceptedLength!=0; else noAcceptedBids">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Accepted Bids</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Accepted Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acceptedBid of acceptedBids;" [routerLink]="['/bids/'+acceptedBid.bidID]">
            <td>{{acceptedBid.bidID}}</td>
            <td>{{acceptedBid.bidPrice}}</td>
            <td>{{acceptedBid.endDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </ng-container>
  <ng-template #noAcceptedBids>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Accepted Bids</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>
  
  <ng-container *ngIf="declinedLength!=0; else noDeclinedBids">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">Declined Bids</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Price</th>
            <th>Declined Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let declinedBid of declinedBids;" [routerLink]="['/bids/'+declinedBid.bidID]">
            <td>{{declinedBid.bidID}}</td>
            <td>{{declinedBid.bidPrice}}</td>
            <td>{{declinedBid.endDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table> 
    </div>
  </ng-container>
  <ng-template #noDeclinedBids>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h2 class="page-header">No Declined Bids</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>
</ng-container>
<ng-template #noBids>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">No Bids</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </div>
</ng-template> -->