<button class="btn btn-default pull-left" [routerLink]="['/customers']">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Go To Customers</button>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ng-container *ngIf="customer[0]; else noCustomer">
    <h2 class="page-header">{{customer[0].customerName}}</h2>
    <h4>Click To View Details</h4>
    <div class="panel-group" id="accordion">
      <div class="panel panel-primary">
        <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="'#customerAccordion">
          <h3>Customer Details</h3>
        </div>
        <div id="customerAccordion" class="panel-body panel-collapse collapse in" style="word-break:break-all">
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>Address</th>
                <th>City</th>
                <th class="hidden-xs hidden-sm">State</th>
                <th class="hidden-xs hidden-sm">ZIP</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{customer[0].address}}</td>
                <td>{{customer[0].city}}</td>
                <td class="hidden-xs hidden-sm">{{customer[0].state}}</td>
                <td class="hidden-xs hidden-sm">{{customer[0].zip}}</td>
              </tr>
            </tbody>
          </table>
          <button (click)="onClickUpdateCustomer()" class="btn btn-info" href="#update-customer-modal" data-toggle="modal">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update Customer</button>
          <button class="btn btn-danger" data-toggle="modal" href='#delete-customer-modal'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Customer</button>
          <hr>
          <button class="btn btn-primary" href="#create-inquiry-modal" data-toggle="modal">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Create Inquiry</button>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="'#contactAccordion">
          <h3>Contact Details</h3>
        </div>
        <div id="contactAccordion" class="panel-body panel-collapse collapse" style="word-break:break-all">
          <ng-container *ngIf="contacts.length > 0; else noContacts">
            <label>Click To Update Or Delete</label>
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="active">
                  <th class="hidden-xs hidden-sm">Title</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th class="hidden-xs hidden-sm">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contact of contacts; let i = index" (click)="onClickUpdateContact(contact.contactID, i)" data-toggle="modal"
                  href='#update-contact-modal'>
                  <td class="hidden-xs hidden-sm">{{contact.contactTitle}}</td>
                  <td>{{contact.contactName}}</td>
                  <td>{{contact.contactPhone}}</td>
                  <td class="hidden-xs hidden-sm">{{contact.contactEmail}}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-template #noContacts>
            <h5 class="page-header">No Contacts</h5>
            <p>If this is incorrect, try refreshing the page.</p>
          </ng-template>
          <button (click)="clearContactFields()" class="btn btn-info" type="button" data-toggle="modal" href='#create-contact-modal'>
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Create Contact
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noCustomer>
    <h2 class="page-header">No Customers</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </ng-template>
</div>

<!--                              CUSTOMER POPUPS                                -->
<!--                Update Customer Popup                -->
<div class="modal fade" id="update-customer-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update {{customer[0].customerName}}</h4>
      </div>
      <div class="modal-body">
        <form #f3="ngForm" (submit)="onUpdateCustomer()">
          <div class="form-group">
            <label>Name</label>
            <input required maxlength="100" #customerName="ngModel" type="text" [(ngModel)]="name" name="name" placeholder="Name" class="form-control"
              required>
            <div *ngIf="customerName.invalid" style="color:#ff0000">
              <div *ngIf="customerName.errors.required">
                *Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input required maxlength="80" #customerAddress="ngModel" type="text" class="form-control" [(ngModel)]="address" name="address"
              placeholder="Address" />
            <div *ngIf="customerAddress.invalid" style="color:#ff0000">
              <div *ngIf="customerAddress.errors.required">
                *Address is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>City</label>
            <input required maxlength="80" #customerCity="ngModel" type="text" class="form-control" [(ngModel)]="city" name="city" placeholder="City"
            />
            <div *ngIf="customerCity.invalid" style="color:#ff0000">
              <div *ngIf="customerCity.errors.required">
                *City is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>State</label>
            <input maxlength="80" #customerState="ngModel" type="text" class="form-control" [(ngModel)]="state" name="state" placeholder="State"
            />
          </div>
          <div class="form-group">
            <label>ZIP</label>
            <input mask="00000" #customerZIP="ngModel" type="number" class="form-control" [(ngModel)]="zip" name="zip" placeholder="ZIP"
            />
          </div>
          <button [disabled]="f3.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="button" (click)="clearCustomerFields()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Customer Popup                -->
<div class="modal fade" id="delete-customer-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this customer and all of its inquiries, bids, and jobs?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteCustomer()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Create Inquiry Popup                -->
<div class="modal fade" id="create-inquiry-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create A New Inquiry</h4>
      </div>
      <div class="modal-body">
        <form (submit)="onCreate()">
          <div class="form-group">
            <label>Description</label>
            <textarea required maxlength="950" #inquiryDescription="ngModel" type="text" [(ngModel)]="description" name="description"
              placeholder="Description" class="form-control"></textarea> {{description.length}}/950
            <div *ngIf="inquiryDescription.invalid" style="color:#ff0000">
              <div *ngIf="inquiryDescription.errors.required">
                *Description is required
              </div>
            </div>
          </div>
          <button [disabled]="inquiryDescription.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Create</button>
          <button type="button" (click)="clearDescription()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                              CONTACT POPUPS                                -->
<!--                Update Contact Popup                -->
<div class="modal fade" id="update-contact-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update {{contactName}}</h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (submit)="onUpdateContact()">
          <div class="form-group">
            <label>Title</label>
            <input required maxlength="40" #title="ngModel" type="text" class="form-control" [(ngModel)]="contactTitle" name="contactTitle"
              placeholder="Title" />
            <div *ngIf="title.invalid" style="color:#ff0000">
              <div *ngIf="title.errors.required">
                *Title is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input required maxlength="40" #contactsName="ngModel" type="text" class="form-control" [(ngModel)]="contactName" name="contactName"
              placeholder="Name" />
            <div *ngIf="contactsName.invalid" style="color:#ff0000">
              <div *ngIf="contactsName.errors.required">
                *Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" mask="(000)000-0000" [(ngModel)]="contactPhone" name="contactPhone" placeholder="Phone"
            />
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" maxlength="40" class="form-control" [(ngModel)]="contactEmail" name="contactEmail" placeholder="Email"
            />
          </div>
          <button [disabled]="f.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="button" (click)="clearContactFields()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
          <button class="btn btn-danger" type="button" data-toggle="modal" href='#delete-contact-modal'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Contact Popup                -->
<div class="modal fade" id="delete-contact-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete
          <b>{{contactName}}</b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteContact()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Create Contact Popup                -->
<div class="modal fade" id="create-contact-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Contact</h4>
      </div>
      <div class="modal-body">
        <form #f2="ngForm" (submit)="onCreateContact()">
          <div class="form-group">
            <label>Title</label>
            <input required maxlength="40" #title2="ngModel" type="text" class="form-control" [(ngModel)]="contactTitle" name="contactTitle"
              placeholder="Title" />
            <div *ngIf="title2.invalid">
              <div *ngIf="title2.errors.required" style="color:#ff0000">
                *Title is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input required maxlength="40" #contactsName2="ngModel" type="text" class="form-control" [(ngModel)]="contactName" name="contactName"
              placeholder="Name" />
            <div *ngIf="contactsName2.invalid">
              <div *ngIf="contactsName2.errors.required" style="color:#ff0000">
                *Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" mask="(000)000-0000" [(ngModel)]="contactPhone" name="contactPhone" placeholder="Phone"
            />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" [(ngModel)]="contactEmail" name="contactEmail" placeholder="Email" />
            <!-- email #email2="ngModel" type="email" maxlength="40" -->
            <!-- <div *ngIf="email2.invalid">
              <div *ngIf="email2.errors.email && contactEmail.length > 0" style="color:#ff0000">
                *Invalid Email
              </div>
            </div> -->
          </div>
          <button [disabled]="f2.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Create</button>
          <button type="button" (click)="clearContactFields()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>