<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <button class="btn btn-default" [routerLink]="['/customers']">Go Back</button>  
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <ng-container *ngIf="customer; else noCustomer">
    <h2 class="page-header">{{customer[0].customerName}}</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Address</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{customer[0].address}}</td>
          <td>{{customer[0].email}}</td>
          <td>{{customer[0].phone}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <button class="btn btn-danger" data-toggle="modal" href='#delete-modal'>Delete Customer</button>
  <ng-template #noCustomer>
    <h2 class="page-header">No Customers</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </ng-template>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 class="page-header">Create A New Inquiry</h2>
  <form (submit)="onCreate()">
    <!--<div class="form-group">
      <label>Received Date</label>
      <input type="text" [(ngModel)]="receivedDate" name="receivedDate" placeholder="YYYY-MM-DD" class="form-control" required>
    </div>-->
    <div class="form-group">
      <label>Description</label>
      <textarea type="text" [(ngModel)]="description" name="description" placeholder="Description" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="reset" class="btn btn-danger">Clear</button>
  </form>  
</div>

<!--                Delete Popup                -->
<div class="modal fade" id="delete-modal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Warning</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete this user?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete()">Yes</button>
          </div>
      </div>
  </div>
</div>