<button class="btn btn-default pull-left" [routerLink]="['/bids']">
  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Go To Bids</button>
<button *ngIf="bid[0].bidStatus == 'ACCEPTED' && bid[0];" [routerLink]="['/jobs', bid[0].associatedJobID]" class="btn btn-primary pull-right">
  <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Go To Job</button>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ng-container *ngIf="bid[0]; else noBid">
    <h2 class="page-header">Bid #{{bid[0].bidID}} - {{bid[0].customerName}}</h2>
    <h4>Click To View Details</h4>
    <div class="panel-group" id="accordion">
      <div class="panel panel-primary">
        <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="'#bidAccordion">
          <h3>Bid Details</h3>
        </div>
        <div id="bidAccordion" class="panel-body panel-collapse collapse in" style="word-break:break-all">
          <h4 class="page-header" style="margin-top:0;">General</h4>
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>Charged Price</th>
                <th>Created Date</th>
                <th *ngIf="bid[0].bidStatus == 'ACCEPTED'">Accepted Date</th>
                <th *ngIf="bid[0].bidStatus == 'DECLINED'">Declined Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{bid[0].bidPrice | currency: 'USD':true}}</td>
                <td>{{bid[0].createdDate | date: 'MM/dd/yyyy'}}</td>
                <td *ngIf="bid[0].bidStatus == 'ACCEPTED'">{{bid[0].endDate | date: 'MM/dd/yyyy'}}</td>
                <td *ngIf="bid[0].bidStatus == 'DECLINED'">{{bid[0].endDate | date: 'MM/dd/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <button (click)="onClickUpdateBid()" type="button" class="btn btn-info" data-toggle="modal" href='#update-bid-modal'>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update Price</button>

          <h4 class="page-header">Estimated Labor Costs
            <button class="btn btn-default btn-sm collapsed" data-toggle="collapse" data-target='#labor-collapse'>
              <span class="if-collapsed">Show</span>
              <span class="if-not-collapsed">Hide</span>
            </button>
          </h4>
          <div class="collapse" id="labor-collapse">
            <div *ngIf="bidLabors.length > 0;">
              <label>Click To Update Or Delete</label>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr class="active">
                    <th>Role</th>
                    <th class="hidden-xs hidden-sm">Wage</th>
                    <th>Hours</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bidLabor of bidLabors; let i = index" (click)="onClickUpdateBidLabor(i)" data-toggle="modal" href='#update-labor-modal'>
                    <td>{{bidLabor.roleName}}</td>
                    <td class="hidden-xs hidden-sm">{{bidLabor.roleWage | currency: 'USD':true}}</td>
                    <td>{{bidLabor.laborHours}}</td>
                    <td>{{bidLabor.roleWage*bidLabor.laborHours | currency: 'USD':true}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="active" *ngIf="totalLaborPriceTable != 0">
                    <th>Grand Total</th>
                    <th class="hidden-xs hidden-sm"></th>
                    <th></th>
                    <th>{{totalLaborPriceTable | currency: 'USD':true}}</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <button *ngIf="labors.length > 0;" (click)="onClearBidLabor()" class="btn btn-info" data-toggle="modal" href='#create-labor-modal'>
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Add Labor</button>
          </div>

          <h4 class="page-header">Estimated Material Costs
            <button class="btn btn-default btn-sm collapsed" data-toggle="collapse" data-target='#materials-collapse'>
              <span class="if-collapsed">Show</span>
              <span class="if-not-collapsed">Hide</span>
            </button>
          </h4>
          <div class="collapse" id="materials-collapse">
            <div *ngIf="bidMaterials.length > 0;">
              <label>Click To Update Or Delete</label>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr class="active">
                    <th>Material</th>
                    <th>Linear Feet</th>
                    <th class="hidden-xs hidden-sm">Price Per Unit</th>
                    <th class="hidden-xs hidden-sm">Coverage In Linear Feet</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bidMaterial of bidMaterials; let i = index" data-toggle="modal" href='#update-material-modal' (click)="onClickUpdateBidMaterial(bidMaterial.materialID, i)">
                    <td>{{bidMaterial.materialName}}</td>
                    <td>{{bidMaterial.linearFeet}}</td>
                    <td class="hidden-xs hidden-sm">{{bidMaterial.pricePerUnit | currency: 'USD':true}}</td>
                    <td class="hidden-xs hidden-sm">{{bidMaterial.linearFeetCoverage}} ft</td>
                    <td>{{bidMaterial.pricePerUnit / bidMaterial.linearFeetCoverage * bidMaterial.linearFeet | currency: 'USD':true}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="active" *ngIf="totalMaterialPriceTable != 0">
                    <th>Grand Total</th>
                    <th></th>
                    <th class="hidden-xs hidden-sm"></th>
                    <th class="hidden-xs hidden-sm"></th>
                    <th>{{totalMaterialPriceTable | currency: 'USD':true}}</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <button *ngIf="materials.length > 0" (click)="onClearBidMaterial()" class="btn btn-info" data-toggle="modal" href='#create-material-modal'>
              <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Add Materials</button>
          </div>
          <h4 class="page-header">Files
            <button class="btn btn-default btn-sm collapsed" data-toggle="collapse" data-target='#files-collapse'>
              <span class="if-collapsed">Show</span>
              <span class="if-not-collapsed">Hide</span>
            </button>
          </h4>
          <div class="collapse" id="files-collapse">
            <div *ngIf="files.length > 0">
              <label>Click To Open</label>
              <table class="table" style="border: 1px solid #dddddd;">
                <thead>
                  <tr class="active">
                    <th>Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let file of files">
                    <td>
                      <!-- <a target="_blank" href="https://s3.us-east-2.amazonaws.com/allied-waterproofing/{{file.fileName}}">{{file.fileName}}</a> -->
                      <!-- <a target="_blank" href="http://localhost:3000/api/uploads/{{file.fileName}}">{{file.fileName}}</a> -->
                      <a target="_blank" href="/api/uploads/{{file.fileName}}">{{file.fileName}}</a>
                    </td>
                    <td>
                      <button (click)="onClickDeleteFile(file)" type="button" class="btn btn-danger btn-xs">
                        &times; Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button type="button" class="btn btn-info" data-toggle="modal" href='#upload-modal'>
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload File</button>
          </div>
          <div class="collapsed" data-toggle="collapse" data-target='#files-collapse'>
            <span class="if-collapsed">
              <br>
            </span>
            <span class="if-not-collapsed">
              <hr>
            </span>
          </div>
          <button *ngIf="status == 'PENDING'" class="btn btn-primary" data-toggle="modal" href='#create-job-modal'>
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Create Job</button>
          <button *ngIf="status == 'PENDING'" class="btn btn-warning" data-toggle="modal" href='#decline-modal'>
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Decline Bid</button>
          <button *ngIf="status == 'DECLINED'" class="btn btn-warning" data-toggle="modal" href='#reopen-modal'>
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Re-open Bid</button>
          <button *ngIf="bid[0].associatedJobID == null" class="btn btn-danger" data-toggle="modal" href='#delete-bid-modal'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Bid</button>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="'#inquiryAccordion">
          <h3>Inquiry Details</h3>
        </div>
        <div id="inquiryAccordion" class="panel-body panel-collapse collapse" style="word-break:break-all">
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>Received Date</th>
                <th>Accepted Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{bid[0].inquiryReceivedDate | date: 'MM/dd/yyyy'}}</td>
                <td>{{bid[0].inquiryEndDate | date: 'MM/dd/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{bid[0].description}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/inquiries/'+bid[0].inquiryID]">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Open Inquiry</button>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="'#customerAccordion">
          <h3>Customer Details</h3>
        </div>
        <div id="customerAccordion" class="panel-body panel-collapse collapse" style="word-break:break-all">
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th class="hidden-xs hidden-sm">State</th>
                <th class="hidden-xs hidden-sm">ZIP</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{bid[0].customerName}}</td>
                <td>{{bid[0].customerAddress}}</td>
                <td>{{bid[0].customerCity}}</td>
                <td class="hidden-xs hidden-sm">{{bid[0].customerState}}</td>
                <td class="hidden-xs hidden-sm">{{bid[0].customerZIP}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/customers/'+bid[0].customerID]">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Open Customer</button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noBid>
    <h2 class="page-header">No Bids</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </ng-template>
</div>

<!--                                          Bid Popups                                              -->
<!--                Delete Bid Popup                -->
<div class="modal fade" id="delete-bid-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this bid?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Decline Bid Popup                -->
<div class="modal fade" id="decline-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to decline this bid?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDecline()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Re-Open Bid Popup                -->
<div class="modal fade" id="reopen-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to re-open this bid?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onReopen()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Create Job Popup                -->
<div class="modal fade" id="create-job-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to create a job?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCreate()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Update Bid Popup                -->
<div class="modal fade" id="update-bid-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Bid Price</h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (submit)="onUpdate()">
          <div class="form-group">
            <input required mask="0000000" #price="ngModel" type="number" [(ngModel)]="bidPrice" name="bidPrice" placeholder="Bid Price"
              class="form-control">
            <div *ngIf="price.invalid" style="color:#ff0000">
              <div *ngIf="price.errors.required">
                *Bid price is required
              </div>
            </div>
          </div>
          <button [disabled]="f.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="button" (click)="onClear()" class="btn btn-warning" (click)="onClear()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                                     Bid Material Popups                                           -->
<!--                Update Material Popup                -->
<div class="modal fade" id="update-material-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update {{materialName}}</h4>
      </div>
      <div class="modal-body">
        <form #f4="ngForm" (submit)="onUpdateBidMaterial()">
          <div class="form-group">
            <label>Linear Feet</label>
            <input required mask="0000000" #feet="ngModel" type="number" [(ngModel)]="linearFeet" name="linearFeet" placeholder="Linear Feet"
              class="form-control">
            <div *ngIf="feet.invalid" style="color:#ff0000">
              <div *ngIf="feet.errors.required">
                *Linear feet are required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Price Per Unit</label>
            <input required onKeyPress="if(this.value.length==5) return false;" #perUnit="ngModel" type="number" [(ngModel)]="pricePerUnit"
              name="pricePerUnit" placeholder="Price Per Unit" class="form-control">
            <div *ngIf="perUnit.invalid" style="color:#ff0000">
              <div *ngIf="perUnit.errors.required">
                *Price per unit is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Coverage In Linear Feet</label>
            <input required mask="0000000" #coverage="ngModel" type="number" [(ngModel)]="linearFeetCoverage" name="linearFeetCoverage"
              placeholder="Coverage In Linear Feet" class="form-control">
            <div *ngIf="coverage.invalid" style="color:#ff0000">
              <div *ngIf="coverage.errors.required">
                *Coverage in linear feet is required
              </div>
            </div>
          </div>
          <button [disabled]="f4.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="button" (click)="clearMaterialUpdate()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" href='#delete-material-modal'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Create Material Popup                -->
<div class="modal fade" id="create-material-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Materials</h4>
      </div>
      <div class="modal-body">
        <form #f5="ngForm" (submit)="onCreateMaterial()">
          <table class="table" *ngIf="materials[0] != null">
            <thead>
              <tr>
                <th>Select Material</th>
                <th>Enter Linear Feet</th>
                <th>Add Material</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select (change)="onChangeMaterial($event.target.value)" class="form-control">
                    <option></option>
                    <option [value]="i" *ngFor="let material of materials; let i = index;">{{material.materialName}}</option>
                  </select>
                </td>
                <td>
                  <input required mask="0000000" #feet2="ngModel" type="number" [(ngModel)]="linearFeet" name="linearFeet" placeholder="Linear Feet"
                    class="form-control">
                </td>
                <td>
                  <button [disabled]="feet2.invalid" (click)="onAddMaterial()" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr *ngIf="feet2.invalid" style="color:#ff0000">
                <td *ngIf="feet2.errors.required"></td>
                <td *ngIf="feet2.errors.required">*Linear feet are required</td>
                <td *ngIf="feet2.errors.required"></td>
              </tr>
            </tfoot>
          </table>
          <label style="color:#ff0000" *ngIf="selectedMaterials1.length != 0;">Click To Remove</label>
          <table class="table table-bordered table-hover" *ngIf="selectedMaterials1.length != 0;">
            <thead>
              <tr class="active">
                <th>Name</th>
                <th>Estimated Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedMaterial of selectedMaterials1; let i = index" (click)="onRemoveMaterial(selectedMaterial, i)">
                <td>{{selectedMaterial.materialName}}</td>
                <td>{{selectedMaterial.linearFeet*(selectedMaterial.pricePerUnit/selectedMaterial.linearFeetCoverage) | currency:
                  'USD':true}}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="active">
                <th>Total Material Cost</th>
                <th>{{totalMaterialPrice | currency: 'USD':true}}</th>
              </tr>
            </tfoot>
          </table>
          <button [disabled]="f5.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Add</button>
          <button type="button" (click)="onClearBidMaterial()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Material Popup                -->
<div class="modal fade" id="delete-material-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete
          <b>{{materialName | lowercase}}</b> from the current bid?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteBidMaterial()">Yes</button>
      </div>
    </div>
  </div>
</div>

<!--                                     Bid Labor Popups                                           -->
<!--                Update labor Popup                -->
<div class="modal fade" id="update-labor-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update {{roleName}}</h4>
      </div>
      <div class="modal-body">
        <form #f2="ngForm" (submit)="onUpdateBidLabor()">
          <div class="form-group">
            <label>Wage</label>
            <input required onKeyPress="if(this.value.length==5) return false;" #laborWage="ngModel" type="number" [(ngModel)]="wage"
              name="wage" placeholder="Wage" class="form-control">
            <div *ngIf="laborWage.invalid" style="color:#ff0000">
              <div *ngIf="laborWage.errors.required">
                *Wage is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Hours</label>
            <input required mask="00000" #laborHours="ngModel" type="number" [(ngModel)]="hours" name="hours" placeholder="Hours" class="form-control">
            <div *ngIf="laborHours.invalid" style="color:#ff0000">
              <div *ngIf="laborHours.errors.required">
                *Hours are required
              </div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="f2.invalid" type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
            <button type="button" (click)="onClearLaborUpdate()" class="btn btn-warning">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" href='#delete-labor-modal'>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Create labor Popup                -->
<div class="modal fade" id="create-labor-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Labor</h4>
      </div>
      <div class="modal-body">
        <form #f3="ngForm" (submit)="onCreateBidLabor()">
          <table class="table" *ngIf="labors[0] != null">
            <thead>
              <tr>
                <th>Select Role</th>
                <th>Enter Hours</th>
                <th>Add Role</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select (change)="onChangeLabor($event.target.value)" class="form-control">
                    <option></option>
                    <option [value]="i" *ngFor="let labor of labors; let i = index;">{{labor.roleName}}</option>
                  </select>
                </td>
                <td>
                  <input required mask="00000" #laborHours2="ngModel" type="number" [(ngModel)]="hours" name="hours" placeholder="Hours" class="form-control"
                    aria-describedby="hours-addon">
                </td>
                <td>
                  <button [disabled]="laborHours2.invalid" (click)="onAddLabor()" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr *ngIf="laborHours2.invalid">
                <td *ngIf="laborHours2.errors.required"></td>
                <td *ngIf="laborHours2.errors.required" style="color:#ff0000">*Hours are required</td>
                <td *ngIf="laborHours2.errors.required"></td>
              </tr>
            </tfoot>
          </table>
          <label *ngIf="selectedLabors.length != 0;" style="color:#ff0000">Click To Remove</label>
          <table class="table table-bordered table-hover" *ngIf="selectedLabors.length != 0;">
            <thead>
              <tr class="active">
                <th>Role</th>
                <th>Estimated Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedLabor of selectedLabors; let i = index" (click)="onRemoveLabor(selectedLabor, i)">
                <td>{{selectedLabor.roleName}}</td>
                <td>{{selectedLabor.laborHours*selectedLabor.roleWage | currency:'USD':true}}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="active">
                <th>Total Labor Cost</th>
                <th>{{totalLaborPrice | currency: 'USD':true}}</th>
              </tr>
            </tfoot>
          </table>
          <button [disabled]="f3.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Add</button>
          <button type="button" (click)="clearContactFields()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Labor Popup                -->
<div class="modal fade" id="delete-labor-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete
          <b>{{roleName | lowercase}}</b> labor from the current bid?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteBidLabor()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                                     FILE POPUPS                                           -->
<!--                Delete File Popup                -->
<div class="modal fade" id="delete-file-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete
          <b>{{file.fileName}}</b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteFile()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Upload File Popup                -->
<div class="modal fade" id="upload-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upload Files</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-info" *ngIf="uploader.queue.length == 0" (click)="(uploader.queue.length == 0) && fileInput.click()">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Browse Files</button>
        <input name="file" type="file" style="display: none;" #fileInput ng2FileSelect [uploader]="uploader" />
        <br>
        <br>
        <table *ngIf="uploader.queue.length" class="table">
          <thead>
            <tr>
              <th>Edit File Name
                <div style="color:#ff0000">*Keep File Extension</div>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td>
                <input class="form-control" type="text" [value]="item.file.name" (change)="item.file.name = $event.target.value" />
              </td>
              <td>
                <button (click)="item.remove()" type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" *ngIf="uploader.queue.length != 0" (click)="(uploader.queue.length > 0) && uploader.uploadAll()">
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>



<!--                                               UNUSED MARK-UP                                                                     -->
<!-- <label>Add Materials</label> -->
<!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Materials
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <ng-container *ngIf="materials[0] != null; else noMaterials">
                <li *ngFor="let material of materials; let i = index">
                  <a (click)="onAddMaterial(material, i)">{{material.materialName}}</a>
                </li>
              </ng-container>
              <ng-template #noMaterials>
                <li>
                  <a>No more materials</a>
                </li>
              </ng-template>
            </ul>
          </div> -->
<!-- <table class="table table-striped table-hover">
            <thead *ngIf="selectedMaterials[0] != null;">
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Per Unit Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedMaterial of selectedMaterials; let i = index;">
                <td>{{selectedMaterial.materialName}}</td>
                <td>
                  <input type="text" [(ngModel)]="selectedMaterial.quantity" name="quantity" placeholder="Quantity" class="form-control" required>
                </td>
                <td>
                  <input type="text" [(ngModel)]="selectedMaterial.perUnitCost" name="perUnitCost" placeholder="Per Unit Cost" class="form-control"
                    required>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="onRemoveMaterial(selectedMaterial, i)">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table> -->
<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 class="page-header">Update Bid</h2>
  <form (submit)="onUpdate()">
    <div class="form-group">
      <label>Change Bid Price</label>
      <input type="text" [(ngModel)]="bidPrice" name="bidPrice" placeholder="Bid Price" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Change Labor Cost</label>
      <input type="text" [(ngModel)]="bidLabor" name="laborCost" placeholder="Labor Cost" class="form-control" required>
    </div>
    <label>Add Materials</label>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Materials<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <ng-container *ngIf="materials[0] != null; else noMaterials">
          <li *ngFor="let material of materials; let i = index"><a (click)="onAddMaterial(material, i)">{{material.materialName}}</a></li>
        </ng-container>
        <ng-template #noMaterials>
          <li><a>No more materials</a></li>
        </ng-template>
      </ul>
    </div>
    <table class="table table-striped table-hover">
      <thead *ngIf="selectedMaterials[0] != null;">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Per Unit Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let selectedMaterial of selectedMaterials; let i = index;">
          <td>{{selectedMaterial.materialName}}</td>
          <td><input type="text" [(ngModel)]="selectedMaterial.quantity" name="quantity" placeholder="Quantity" class="form-control" required></td>
          <td><input type="text" [(ngModel)]="selectedMaterial.perUnitCost" name="perUnitCost" placeholder="Per Unit Cost" class="form-control" required></td>
          <td><button type="button" class="close" (click)="onRemoveMaterial(selectedMaterial, i)">&times;</button></td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="reset" class="btn btn-danger" (click)="onClear()">Clear</button>
  </form>  
</div> -->

<!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 class="page-header">Create A New Job</h2>
  <form (submit)="onCreate()">
    <div class="form-group">
      <label>Created Date</label>
      <input type="text" [(ngModel)]="createdDate" name="createdDate" placeholder="YYYY-MM-DD" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="reset" class="btn btn-danger">Clear</button>
  </form>  
</div>-->