<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <button class="btn btn-default" [routerLink]="['/bids']">Go To Bids</button>
</div>

<h2 class="page-header col-xs-12 col-sm-12 col-md-12 col-lg-12">Bid #{{bid[0].bidID}}</h2>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Customer Details</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{bid[0].customerID}}</td>
            <td>{{bid[0].customerName}}</td>
            <td>{{bid[0].customerAddress}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" [routerLink]="['/customers/'+bid[0].customerID]">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Open Customer</button>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <ng-container *ngIf="bid; else noBid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Bid Details</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Price</th>
              <th>Created Date</th>
              <th>Accepted/Declined Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{bid[0].bidPrice | currency: 'USD':true}}</td>
              <td>{{bid[0].createdDate | date: 'MM/dd/yyyy'}}</td>
              <td>{{bid[0].endDate | date: 'MM/dd/yyyy'}}</td>
            </tr>
          </tbody>
        </table>
        <h4 class="page-header">Costs</h4>
        <label>Labor Cost</label>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>{{bid[0].bidLabor | currency: 'USD':true}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <label *ngIf="bidMaterials[0] != null;">Materials Cost</label>
        <table class="table table-striped table-hover">
          <thead *ngIf="bidMaterials[0] != null;">
            <tr>
              <th>Material</th>
              <th>Linear Feet</th>
              <th>Price Per Linear Foot</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bidMaterial of bidMaterials">
              <td>{{bidMaterial.materialName}}</td>
              <td>{{bidMaterial.linearFeet}}</td>
              <td>{{bidMaterial.pricePerLinearFoot | currency: 'USD':true}}</td>
              <td>
                <button class="btn btn-danger" data-toggle="modal" href='#delete-material-modal'><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
              </td>
              <!--                Delete Bid Popup                -->
              <div class="modal fade" id="delete-material-modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Warning</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete this material from the current bid?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteBidMaterial(bidMaterial.materialID, bidMaterial.bidID)">Yes</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
        <button *ngIf="status == 'PENDING'" class="btn btn-primary" data-toggle="modal" href='#create-job-modal'>
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Create Job</button>
        <!-- <button *ngIf="status == 'PENDING'" type="button" class="btn btn-info" data-toggle="modal" href='#update-bid-modal'> -->
        <button type="button" class="btn btn-info" data-toggle="modal" href='#update-bid-modal'>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update Bid</button>
        <button class="btn btn-danger" data-toggle="modal" href='#delete-bid-modal'>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Bid</button>
      </div>
    </div>
  </ng-container>
  <ng-template #noBid>
    <h2 class="page-header">No Bids</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </ng-template>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Inquiry Details</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Received Date</th>
            <th>Accepted Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{bid[0].inquiryReceivedDate | date: 'MM/dd/yyyy'}}</td>
            <td>{{bid[0].inquiryEndDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
      <h4 class="page-header">Description</h4>
      <p>{{bid[0].description}}</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/inquiries/'+bid[0].inquiryID]">
        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Open Inquiry</button>
    </div>
  </div>
</div>

<!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 class="page-header">Update Bid</h2>
  <form (submit)="onUpdate()">
    <div class="form-group">
      <label>Change Bid Price</label>
      <input type="text" [(ngModel)]="bidPrice" name="bidPrice" placeholder="Bid Price" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Change Labor Cost</label>
      <input type="text" [(ngModel)]="bidLabor" name="laborCost" placeholder="Labor Cost" class="form-control" required>
    </div>
    <label>Add Materials</label>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Materials<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <ng-container *ngIf="materials[0] != null; else noMaterials">
          <li *ngFor="let material of materials; let i = index"><a (click)="onAddMaterial(material, i)">{{material.materialName}}</a></li>
        </ng-container>
        <ng-template #noMaterials>
          <li><a>No more materials</a></li>
        </ng-template>
      </ul>
    </div>
    <table class="table table-striped table-hover">
      <thead *ngIf="selectedMaterials[0] != null;">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Per Unit Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let selectedMaterial of selectedMaterials; let i = index;">
          <td>{{selectedMaterial.materialName}}</td>
          <td><input type="text" [(ngModel)]="selectedMaterial.quantity" name="quantity" placeholder="Quantity" class="form-control" required></td>
          <td><input type="text" [(ngModel)]="selectedMaterial.perUnitCost" name="perUnitCost" placeholder="Per Unit Cost" class="form-control" required></td>
          <td><button type="button" class="close" (click)="onRemoveMaterial(selectedMaterial, i)">&times;</button></td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="reset" class="btn btn-danger" (click)="onClear()">Clear</button>
  </form>  
</div> -->

<!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 class="page-header">Create A New Job</h2>
  <form (submit)="onCreate()">
    <div class="form-group">
      <label>Created Date</label>
      <input type="text" [(ngModel)]="createdDate" name="createdDate" placeholder="YYYY-MM-DD" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="reset" class="btn btn-danger">Clear</button>
  </form>  
</div>-->

<!--                Delete Bid Popup                -->
<div class="modal fade" id="delete-bid-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this bid?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Create Job Popup                -->
<div class="modal fade" id="create-job-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to create a job?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCreate()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Update Bid Popup                -->
<div class="modal fade" id="update-bid-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update Bid</h4>
      </div>
      <div class="modal-body">
        <form (submit)="onUpdate()">
          <div class="form-group">
            <label>Change Bid Price</label>
            <input type="text" [(ngModel)]="bidPrice" name="bidPrice" placeholder="Bid Price" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Change Labor Cost</label>
            <input type="text" [(ngModel)]="bidLabor" name="laborCost" placeholder="Labor Cost" class="form-control" required>
          </div>
          <label>Add Materials</label>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Materials
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <ng-container *ngIf="materials[0] != null; else noMaterials">
                <li *ngFor="let material of materials; let i = index">
                  <a (click)="onAddMaterial(material, i)">{{material.materialName}}</a>
                </li>
              </ng-container>
              <ng-template #noMaterials>
                <li>
                  <a>No more materials</a>
                </li>
              </ng-template>
            </ul>
          </div>
          <table class="table table-striped table-hover">
            <thead *ngIf="selectedMaterials[0] != null;">
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Per Unit Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedMaterial of selectedMaterials; let i = index;">
                <td>{{selectedMaterial.materialName}}</td>
                <td>
                  <input type="text" [(ngModel)]="selectedMaterial.quantity" name="quantity" placeholder="Quantity" class="form-control" required>
                </td>
                <td>
                  <input type="text" [(ngModel)]="selectedMaterial.perUnitCost" name="perUnitCost" placeholder="Per Unit Cost" class="form-control"
                    required>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="onRemoveMaterial(selectedMaterial, i)">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="reset" class="btn btn-danger" (click)="onClear()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>