<button class="btn btn-default" [routerLink]="['/home']">Go Home</button>
<h2 class="page-header">Register A New User</h2>
<form (submit)="onRegister()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" placeholder="Name" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" placeholder="Username" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
  <button type="reset" class="btn btn-danger">Clear</button>
</form>