<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <button class="btn btn-default" [routerLink]="['/jobs']">Go Back</button>  
</div>

<h2 class="page-header col-xs-12 col-sm-12 col-md-12 col-lg-12">Job #{{job[0].jobID}}</h2>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <ng-container *ngIf="job; else noJob">
    <h3 class="page-header">Job Details</h3>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Revenue</th>
          <th>Created Date</th>
          <th>Completion Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{job[0].jobRevenue | currency: 'USD':true}}</td>
          <td>{{job[0].createdDate | date: 'MM/dd/yyyy'}}</td>
          <td>{{job[0].endDate | date: 'MM/dd/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
    <h4 class="page-header">Actual Costs</h4>
    <label>Labor Cost</label>
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td>{{job[0].jobLabor | currency: 'USD':true}}</td>
        </tr>
      </tbody>
    </table>
    <label *ngIf="jobMaterials[0] != null;">Materials Cost</label>
    <table class="table table-striped table-hover">
      <thead *ngIf="jobMaterials[0] != null;">
        <tr>
          <th>Material</th>
          <th>Quantity</th>
          <th>Per Unit Cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobMaterial of jobMaterials">
          <td>{{jobMaterial.materialName}}</td>
          <td>{{jobMaterial.quantity}}</td>
          <td>{{jobMaterial.perUnitCost | currency: 'USD':true}}</td>
          <td><button *ngIf="status == 'IN-PROGRESS'" type="button" class="close" (click)="onClickDeleteMaterial(jobMaterial.materialID)" data-toggle="modal" href='#delete-material-modal'>&times;</button></td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <button *ngIf="status == 'IN-PROGRESS'" class="btn btn-primary" data-toggle="modal" href='#finish-job-modal'>Finish Job</button>
  <button *ngIf="status == 'IN-PROGRESS'" class="btn btn-info" data-toggle="modal" href='#update-job-modal'>Update Job</button>
  <button class="btn btn-danger" data-toggle="modal" href='#delete-job-modal'>Delete Job</button>
  <ng-template #noJob>
    <h2 class="page-header">No Jobs</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </ng-template>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h3 class="page-header">Bid Details</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Bid Price</th>
        <th>Created Date</th>
        <th>Accepted Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{job[0].bidPrice | currency: 'USD':true}}</td>
        <td>{{job[0].bidCreatedDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{job[0].bidEndDate | date: 'MM/dd/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!--                Delete Job Popup                -->
<div class="modal fade" id="delete-job-modal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Warning</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete this job?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteJob()">Yes</button>
          </div>
      </div>
  </div>
</div>
<!--                Delete Material Popup                -->
<div class="modal fade" id="delete-material-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this material?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteMaterial()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Finish Job Popup                -->
<div class="modal fade" id="finish-job-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to finalize this job?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onFinish()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Update Job Popup                -->
<div class="modal fade" id="update-job-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update Job</h4>
      </div>
      <div class="modal-body">
        <form (submit)="onUpdate()">
          <div class="form-group">
            <label>Add Revenue</label>
            <input type="text" [(ngModel)]="jobRevenue" name="jobRevenue" placeholder="Revenue" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Add Labor Cost</label>
            <input type="text" [(ngModel)]="jobLabor" name="jobLabor" placeholder="Labor Cost" class="form-control" required>
          </div>
          <!--<div class="form-group">
            <label>Created Date</label>
            <input type="text" [(ngModel)]="createdDate" name="createdDate" placeholder="YYYY-MM-DD" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Completion Date</label>
            <input type="text" [(ngModel)]="endDate" name="endDate" placeholder="YYYY-MM-DD" class="form-control" required>
          </div>-->
          <label>Add Materials</label>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Materials<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <ng-container *ngIf="materials[0] != null; else noMaterials">
                <li *ngFor="let material of materials; let i = index;"><a (click)="onAddMaterial(material, i)">{{material.materialName}}</a></li>
              </ng-container>
              <ng-template #noMaterials>
                <li><a>No more materials</a></li>
              </ng-template>
            </ul>
          </div>
          <table class="table table-striped table-hover">
            <thead *ngIf="selectedMaterials[0] != null;">
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Per Unit Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedMaterial of selectedMaterials; let i = index;">
                <td>{{selectedMaterial.materialName}}</td>
                <td><input type="text" [(ngModel)]="selectedMaterial.quantity" name="quantity" placeholder="Quantity" class="form-control" required></td>
                <td><input type="text" [(ngModel)]="selectedMaterial.perUnitCost" name="perUnitCost" placeholder="Per Unit Cost" class="form-control" required></td>
                <td><button type="button" class="close" (click)="onRemoveMaterial(selectedMaterial, i)">&times;</button></td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal">Update</button>
            <button type="reset" class="btn btn-danger" (click)="onClear()">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>