<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <button class="btn btn-default" [routerLink]="['/jobs']">
    <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Go To Jobs</button>
</div>
<h2 class="page-header col-xs-12 col-sm-12 col-md-12 col-lg-12">Job #{{job[0].jobID}}</h2>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ng-container *ngIf="job; else noJob">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Job Details</h3>
      </div>
      <div class="panel-body">
        <h4 class="page-header" style="margin-top: 0">General</h4>
        <table class="table table-bordered">
          <thead>
            <tr class="active">
              <th>Expected Revenue</th>
              <th>Created Date</th>
              <th *ngIf="job[0].jobStatus == 'COMPLETED'">Completion Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{job[0].bidPrice + totalChangeTable | currency: 'USD':true}}</td>
              <td>{{job[0].createdDate | date: 'MM/dd/yyyy'}}</td>
              <td *ngIf="job[0].jobStatus == 'COMPLETED'">{{job[0].endDate | date: 'MM/dd/yyyy'}}</td>
            </tr>
          </tbody>
        </table>
        <h4 class="page-header">Change Orders</h4>
        <label>Click To Update Or Delete</label>
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="active">
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let changeOrder of changeOrders; let i = index" data-toggle="modal" (click)="onClickUpdateChangeOrder(changeOrder.changeID, i)"
              href='#update-change-modal'>
              <td>{{changeOrder.changeAmount | currency: 'USD':true}}</td>
              <td>{{changeOrder.changeDate | date: 'MM/dd/yyyy'}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="active">
              <th>{{totalChangeTable | currency: 'USD':true}}</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <button (click)="onClearChangeOrder()" class="btn btn-info" data-toggle="modal" href='#create-change-modal'>
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create Change Order</button>
        <h4 class="page-header">Revenue Collected</h4>
        <label>Click To Update Or Delete</label>
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="active">
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let revenue of revenues; let i = index" data-toggle="modal" (click)="onClickUpdateRevenue(revenue.revenueID, i)"
              href='#update-revenue-modal'>
              <td>{{revenue.revenueAmount | currency: 'USD':true}}</td>
              <td>{{revenue.revenueDate | date: 'MM/dd/yyyy'}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="active">
              <th>{{totalRevenueTable | currency: 'USD':true}}</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
        <button (click)="onClearJobRevenue()" class="btn btn-info" data-toggle="modal" href='#create-revenue-modal'>
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Add Revenue</button>
        <h4 class="page-header">Labor Cost</h4>
        <label>Click To Update Or Delete</label>
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="active">
              <th>Role</th>
              <th>Date</th>
              <th class="hidden-xs hidden-sm">Hours</th>
              <th class="hidden-xs hidden-sm">Wage</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jobLabor of jobLabors; let i = index" data-toggle="modal" (click)="onClickUpdateLabor(jobLabor.laborID, i)"
              href='#update-labor-modal'>
              <td>{{jobLabor.roleName}}</td>
              <td>{{jobLabor.laborDate | date: 'MM/dd/yyyy'}}</td>
              <td class="hidden-xs hidden-sm">{{jobLabor.laborHours}}</td>
              <td class="hidden-xs hidden-sm">{{jobLabor.roleWage | currency: 'USD':true}}</td>
              <td>{{jobLabor.roleWage*jobLabor.laborHours | currency: 'USD':true}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="active">
              <th>Grand Total</th>
              <th></th>
              <th class="hidden-xs hidden-sm">{{totalHoursTable}}</th>
              <th class="hidden-xs hidden-sm"></th>
              <th>{{totalLaborPriceTable | currency: 'USD':true}}</th>
            </tr>
          </tfoot>
        </table>
        <button (click)="onClearJobLabor()" class="btn btn-info" data-toggle="modal" href='#create-labor-modal'>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Add Labor</button>
        <h4 class="page-header" *ngIf="jobMaterials[0] != null;">Materials Cost</h4>
        <label *ngIf="jobMaterials[0] != null;">Click To Update Or Delete</label>
        <table class="table table-bordered table-hover">
          <thead *ngIf="jobMaterials[0] != null;">
            <tr class="active">
              <th>Material</th>
              <th>Linear Feet</th>
              <th class="hidden-xs hidden-sm">Price Per Unit</th>
              <th class="hidden-xs hidden-sm">Coverage In Linear Feet</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jobMaterial of jobMaterials; let i = index" data-toggle="modal" (click)="onClickUpdateJobMaterial(jobMaterial.materialID, i)"
              href='#update-material-modal'>
              <td>{{jobMaterial.materialName}}</td>
              <td>{{jobMaterial.linearFeet}}</td>
              <td class="hidden-xs hidden-sm">{{jobMaterial.pricePerUnit | currency: 'USD':true}}</td>
              <td class="hidden-xs hidden-sm">{{jobMaterial.linearFeetCoverage}} ft</td>
              <td>{{jobMaterial.pricePerUnit / jobMaterial.linearFeetCoverage * jobMaterial.linearFeet | currency: 'USD':true}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="active">
              <th>Grand Total</th>
              <th>{{totalLinearFeetTable}}</th>
              <th class="hidden-xs hidden-sm"></th>
              <th class="hidden-xs hidden-sm"></th>
              <th>{{totalMaterialPriceTable | currency: 'USD':true}}</th>
            </tr>
          </tfoot>
        </table>
        <button (click)="onClearJobMaterials()" class="btn btn-info" data-toggle="modal" href='#create-material-modal'>
          <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Add Materials</button>
        <hr>
        <!-- <label *ngIf="files.length != 0">Job Files</label>
        <table *ngIf="files.length != 0" class="table table-bordered">
          <thead>
            <tr class="active">
              <th>Name</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files">
              <td>
                <a target="_blank" href="http://localhost:3000/api/uploads/jobs/{{id}}/{{file}}">{{file}}</a>
              </td>
              <td>
                <button class="btn btn-danger" type="button" data-toggle="modal" href='#delete-file-modal' (click)="onClickDeleteFile(file)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table> -->
        <button *ngIf="status == 'IN-PROGRESS'" class="btn btn-primary" data-toggle="modal" href='#finish-job-modal'>
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Finish Job</button>
        <button class="btn btn-danger" data-toggle="modal" href='#delete-job-modal'>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Job</button>
      </div>
    </div>
  </ng-container>
  <ng-template #noJob>
    <h2 class="page-header">No Jobs</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </ng-template>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Bid Details</h3>
    </div>
    <div class="panel-body">
      <h4 class="page-header" style="margin-top: 0">General</h4>
      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th>Initial Bid Price</th>
            <th>Created Date</th>
            <th>Accepted Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{job[0].bidPrice | currency: 'USD':true}}</td>
            <td>{{job[0].bidCreatedDate | date: 'MM/dd/yyyy'}}</td>
            <td>{{job[0].bidEndDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
      <h4 class="page-header">Estimated Costs</h4>
      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th>Labor</th>
            <th>Materials</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{job[0].bidLabor | currency: 'USD':true}}</td>
            <td>{{job[0].bidMaterials | currency: 'USD':true}}</td>
            <th>{{job[0].bidLabor + job[0].bidMaterials | currency: 'USD':true}}</th>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" [routerLink]="['/bids/'+job[0].bidID]">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Open Bid</button>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Customer Details</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th class="hidden-xs hidden-sm">State</th>
            <th class="hidden-xs hidden-sm">ZIP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{job[0].customerName}}</td>
            <td>{{job[0].customerAddress}}</td>
            <td>{{job[0].customerCity}}</td>
            <td class="hidden-xs hidden-sm">{{job[0].customerState}}</td>
            <td class="hidden-xs hidden-sm">{{job[0].customerZIP}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" [routerLink]="['/customers/'+job[0].customerID]">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Open Customer</button>
    </div>
  </div>
</div>

<!--                                     JOB POPUPS                                           -->
<!--                Finish Job Popup                -->
<div class="modal fade" id="finish-job-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to finalize this job?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onFinish()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Job Popup                -->
<div class="modal fade" id="delete-job-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this job?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteJob()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                                     REVENUE POPUPS                                           -->
<!--                Update Revenue Popup                -->
<div class="modal fade" id="update-revenue-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update Revenue</h4>
      </div>
      <div class="modal-body">
        <form #f4="ngForm" (submit)="onUpdateJobRevenue()">
          <div class="form-group">
            <label>Amount</label>
            <input required mask="0000000" #revenue2="ngModel" type="number" [(ngModel)]="revenueAmount" name="revenueAmount" placeholder="Amount"
              class="form-control">
            <div *ngIf="revenue2.invalid" style="color:#ff0000">
              <div *ngIf="revenue2.errors.required">
                *Revenue is required
              </div>
            </div>
          </div>
          <button [disabled]="f4.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="button" (click)="onClearJobRevenue()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" href='#delete-revenue-modal'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Revenue Popup                -->
<div class="modal fade" id="delete-revenue-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this revenue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteRevenue()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Create Revenue Popup                -->
<div class="modal fade" id="create-revenue-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Revenue</h4>
      </div>
      <div class="modal-body">
        <form #f3="ngForm" (submit)="onCreateJobRevenue()">
          <div class="form-group">
            <label>Amount</label>
            <input required mask="0000000" #revenue="ngModel" type="number" [(ngModel)]="revenueAmount" name="revenueAmount" placeholder="Amount"
              class="form-control">
            <div *ngIf="revenue.invalid" style="color:#ff0000">
              <div *ngIf="revenue.errors.required">
                *Revenue is required
              </div>
            </div>
          </div>
          <button [disabled]="f3.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Create</button>
          <button type="button" (click)="onClearJobRevenue()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                                     LABOR POPUPS                                           -->
<!--                Update Labor Popup                -->
<div class="modal fade" id="update-labor-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update {{roleName}} Labor From {{laborDate | date: 'MM/dd/yyyy'}}</h4>
      </div>
      <div class="modal-body">
        <form #f5="ngForm" (submit)="onUpdateJobLabor()">
          <div class="form-group">
            <label>Hours</label>
            <input required mask="00000" #hours1="ngModel" type="number" [(ngModel)]="hours" name="hours" placeholder="Hours" class="form-control">
            <div *ngIf="hours1.invalid" style="color:#ff0000">
              <div *ngIf="hours1.errors.required">
                *Hours are required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Wage</label>
            <input required onKeyPress="if(this.value.length==5) return false;" #wage1="ngModel" type="number" [(ngModel)]="wage" name="wage" placeholder="Wage" class="form-control">
            <div *ngIf="wage1.invalid" style="color:#ff0000">
              <div *ngIf="wage1.errors.required">
                *Wage is required
              </div>
            </div>
          </div>
          <button [disabled]="f5.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="button" (click)="clearLaborUpdate()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" href='#delete-labor-modal'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Labor Popup                -->
<div class="modal fade" id="delete-labor-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this labor?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteLabor()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Create Labor Popup                -->
<div class="modal fade" id="create-labor-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Labor</h4>
      </div>
      <div class="modal-body">
        <form #f6="ngForm" (submit)="onCreateJobLabor()">
          <table class="table" *ngIf="labors[0] != null">
            <thead>
              <tr>
                <th>Select Role</th>
                <th>Enter Hours</th>
                <th>Add Role</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select (change)="onChangeLabor($event.target.value)" class="form-control">
                    <option></option>
                    <option [value]="i" *ngFor="let labor of labors; let i = index;">{{labor.roleName}}</option>
                  </select>
                </td>
                <td>
                  <input required mask="00000" #hours2="ngModel" type="number" [(ngModel)]="hours" name="hours" placeholder="Hours" class="form-control"
                    aria-describedby="hours-addon">
                </td>
                <td>
                  <button [disabled]="hours2.invalid" (click)="onAddLabor()" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr *ngIf="hours2.invalid" style="color:#ff0000">
                <td *ngIf="hours2.errors.required"></td>
                <td *ngIf="hours2.errors.required">*Hours are required</td>
                <td *ngIf="hours2.errors.required"></td>
              </tr>
            </tfoot>
          </table>
          <label style="color:#ff0000" *ngIf="selectedLabors.length != 0;">Click To Delete</label>
          <table class="table table-bordered table-hover" *ngIf="selectedLabors.length != 0;">
            <thead>
              <tr class="active">
                <th>Role</th>
                <th>Estimated Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedLabor of selectedLabors; let i = index" (click)="onRemoveLabor(selectedLabor, i)">
                <td>{{selectedLabor.roleName}}</td>
                <td>{{selectedLabor.laborHours*selectedLabor.roleWage | currency:'USD':true}}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="active">
                <th>Total Labor Cost</th>
                <th>{{totalLaborPrice | currency: 'USD':true}}</th>
              </tr>
            </tfoot>
          </table>
          <button [disabled]="f6.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Add</button>
          <button type="button" (click)="clearLaborCreate()" class="btn btn-warning" (click)="onClearJobLabor()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                                     MATERIAL POPUPS                                           -->
<!--                Create Material Popup                -->
<div class="modal fade" id="create-material-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Materials</h4>
      </div>
      <div class="modal-body">
        <form #f8="ngForm" (submit)="onCreateJobMaterials()">
          <div class="form-group">
            <table class="table" *ngIf="materials[0] != null">
              <thead>
                <tr>
                  <th>Select Material</th>
                  <th>Enter Linear Feet</th>
                  <th>Add Material</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select (change)="onChangeMaterial($event.target.value)" class="form-control">
                      <option></option>
                      <option [value]="i" *ngFor="let material of materials; let i = index;">{{material.materialName}}</option>
                    </select>
                  </td>
                  <td>
                    <input required mask="0000000" #feet2="ngModel" type="number" [(ngModel)]="linearFeet" name="linearFeet" placeholder="Linear Feet" class="form-control">
                  </td>
                  <td>
                    <button [disabled]="feet2.invalid" (click)="onAddMaterial()" type="button" class="btn btn-success">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr *ngIf="feet2.invalid" style="color:#ff0000">
                  <td *ngIf="feet2.errors.required"></td>
                  <td *ngIf="feet2.errors.required">*Linear feet are required</td>
                  <td *ngIf="feet2.errors.required"></td>
                </tr>
              </tfoot>
            </table>
            <label style="color:#ff0000" *ngIf="selectedMaterials1.length != 0;">Click To Delete</label>
            <table class="table table-bordered table-hover" *ngIf="selectedMaterials1.length != 0;">
              <thead>
                <tr class="active">
                  <th>Name</th>
                  <th>Estimated Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let selectedMaterial of selectedMaterials1; let i = index" (click)="onRemoveMaterial(selectedMaterial, i)">
                  <td>{{selectedMaterial.materialName}}</td>
                  <td>{{selectedMaterial.linearFeet*selectedMaterial.pricePerUnit/selectedMaterial.linearFeetCoverage | currency:'USD':true}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="active">
                  <th>Total Material Cost</th>
                  <th>{{totalMaterialPrice | currency: 'USD':true}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <button [disabled]="f8.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Create</button>
          <button type="button" (click)="onClearJobMaterials()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Update Material Popup                -->
<div class="modal fade" id="update-material-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update {{materialName}}</h4>
      </div>
      <div class="modal-body">
        <form #f7="ngForm" (submit)="onUpdateJobMaterial()">
          <div class="form-group">
            <label>Linear Feet</label>
            <input required mask="0000000" #feet="ngModel" type="number" [(ngModel)]="linearFeet" name="linearFeet" placeholder="Linear Feet"
              class="form-control">
            <div *ngIf="feet.invalid" style="color:#ff0000">
              <div *ngIf="feet.errors.required">
                *Linear feet are required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Price Per Unit</label>
            <input required onKeyPress="if(this.value.length==5) return false;" #perUnit="ngModel" type="number" [(ngModel)]="pricePerUnit" name="pricePerUnit" placeholder="Price Per Unit"
              class="form-control">
            <div *ngIf="perUnit.invalid" style="color:#ff0000">
              <div *ngIf="perUnit.errors.required">
                *Per unit cost is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Coverage In Linear Feet</label>
            <input required mask="0000000" #coverage="ngModel" type="number" [(ngModel)]="linearFeetCoverage" name="linearFeetCoverage"
              placeholder="Coverage In Linear Feet" class="form-control">
            <div *ngIf="coverage.invalid" style="color:#ff0000">
              <div *ngIf="coverage.errors.required">
                *Coverage in linear feet is required
              </div>
            </div>
          </div>
          <button [disabled]="f7.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="button" (click)="clearMaterialUpdate()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" href='#delete-material-modal'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Material Popup                -->
<div class="modal fade" id="delete-material-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete
          <b>{{materialName | lowercase}}</b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteMaterial()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                                     CHANGE ORDER POPUPS                                           -->
<!--                Update Change Popup                -->
<div class="modal fade" id="update-change-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update Change Order</h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (submit)="onUpdateChangeOrder()">
          <div class="form-group">
            <label>Amount</label>
            <input required mask="0000000" #amount="ngModel" type="number" [(ngModel)]="changeAmount" name="changeAmount" placeholder="Amount"
              class="form-control">
            <div *ngIf="amount.invalid" style="color:#ff0000">
              <div *ngIf="amount.errors.required">
                *Change amount is required
              </div>
            </div>
          </div>
          <button [disabled]="f.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
          <button type="button" (click)="onClearChangeOrder()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" href='#delete-change-modal'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                Delete Change Popup                -->
<div class="modal fade" id="delete-change-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this change order?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteChangeOrder()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--                Create Change Popup                -->
<div class="modal fade" id="create-change-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Change Order</h4>
      </div>
      <div class="modal-body">
        <form #f2="ngForm" (submit)="onCreateChangeOrder()">
          <div class="form-group">
            <label>Amount</label>
            <input required mask="0000000" #amount2="ngModel" type="number" [(ngModel)]="changeAmount" name="changeAmount" placeholder="Amount"
              class="form-control">
            <div *ngIf="amount2.invalid" style="color:#ff0000">
              <div *ngIf="amount2.errors.required">
                *Change amount is required
              </div>
            </div>
          </div>
          <button [disabled]="f2.invalid" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create</button>
          <button type="button" (click)="onClearChangeOrder()" class="btn btn-warning">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
      </div>
    </div>
  </div>
</div>
<!--                                     FILE POPUPS                                           -->
<!--                Delete File Popup                -->
<div class="modal fade" id="delete-file-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this file?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDeleteFile()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--               FOR UPLOAD FILE POPUP                -->
<!-- <div class="form-group">
            <h4>Upload Files</h4>
            <button type="button" class="btn btn-info" (click)="fileInput.click()">
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Browse Files</button>
            <input name="file" type="file" style="display: none;" #fileInput ng2FileSelect [uploader]="uploader" />
            <table *ngIf="uploader.queue.length" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td>{{item._file.name}}</td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="item.remove()">
                      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->

<!--                                        UNUSED MARKUP                                       -->
<!-- <label>Add Materials</label>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Materials
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <ng-container *ngIf="materials[0] != null; else noMaterials">
                <li *ngFor="let material of materials; let i = index;">
                  <a (click)="onAddMaterial(material, i)">{{material.materialName}}</a>
                </li>
              </ng-container>
              <ng-template #noMaterials>
                <li>
                  <a>No more materials</a>
                </li>
              </ng-template>
            </ul>
          </div> -->
<!-- <table class="table table-striped table-hover">
            <thead *ngIf="selectedMaterials[0] != null;">
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Per Unit Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let selectedMaterial of selectedMaterials; let i = index;">
                <td>{{selectedMaterial.materialName}}</td>
                <td>
                  <input type="text" [(ngModel)]="selectedMaterial.quantity" name="quantity" placeholder="Quantity" class="form-control" required>
                </td>
                <td>
                  <input type="text" [(ngModel)]="selectedMaterial.perUnitCost" name="perUnitCost" placeholder="Per Unit Cost" class="form-control"
                    required>
                </td>
                <td>
                  <button type="button" class="close" (click)="onRemoveMaterial(selectedMaterial, i)">&times;</button>
                </td>
              </tr>
            </tbody>
          </table> -->

<!-- <table class="table table-bordered">
              <thead *ngIf="bidMaterials[0] != null;">
                <tr class="active">
                  <th>Material</th>
                  <th>Linear Feet</th>
                  <th class="hidden-xs hidden-sm">Price Per Unit</th>
                  <th class="hidden-xs hidden-sm">Coverage In Linear Feet</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bidMaterial of bidMaterials">
                  <td>{{bidMaterial.materialName}}</td>
                  <td>{{bidMaterial.linearFeet}}</td>
                  <td class="hidden-xs hidden-sm">{{bidMaterial.pricePerUnit | currency: 'USD':true}}</td>
                  <td class="hidden-xs hidden-sm">{{bidMaterial.linearFeetCoverage}} ft</td>
                  <td>{{bidMaterial.pricePerUnit / bidMaterial.linearFeetCoverage * bidMaterial.linearFeet | currency: 'USD':true}}</td>
                </tr>
              </tbody>
            </table> -->


<!--                Update Job Popup                -->
<!-- <div class="modal fade" id="update-job-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Update Job</h4>
        </div>
        <div class="modal-body">
          <form (submit)="onUpdate()" style="padding-bottom: 20px;">
            <div class="form-group">
              <h4>Add Labor</h4>
              <label>Hours: </label>
              <input type="text" [(ngModel)]="laborHours" name="laborHours" placeholder="Hours" class="form-control" required>
              <label>Price: </label>
              <input type="text" [(ngModel)]="laborPrice" name="laborPrice" placeholder="Price" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" (click)="uploader.uploadAll()">
              <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Update</button>
            <button type="reset" class="btn btn-danger" (click)="onClear(); uploader.clearQueue()">
              <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Clear</button>
          </form>
          <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- <button class="btn btn-info" data-toggle="modal" href='#update-job-modal'>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update Job</button> -->