<!-- https://stackoverflow.com/questions/38209713/how-to-make-a-responsive-nav-bar-using-angular-material-2 -->
<!--<md-sidenav-containe fullscreen>-->
<!--<md-sidenav-container>
    <md-toolbar color="primary">
        <button md-button [routerLink]="['/']"><md-icon>home</md-icon>Allied Waterproofing</button>
        <span class="fill-remaining-space"></span>
        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
            <button md-button [routerLink]="['/customers']">Customers</button>
            <button md-button [routerLink]="['/']">Something</button>
        </div>
        <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm><md-icon>menu</md-icon></button>
    </md-toolbar>
    <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item [routerLink]="['/customers']">Customers</button>
        <button md-menu-item [routerLink]="['/']">Something</button>
    </md-menu>
</md-sidenav-container>-->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button *ngIf="authService.loggedIn()" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Allied Waterproofing</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar-ex1-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeDropdown()" [routerLink]="['/home']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeDropdown()" [routerLink]="['/customers']"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Customers</a></li>
            <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeDropdown()" [routerLink]="['/inquiries']"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Inquiries</a></li>
            <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeDropdown()" [routerLink]="['/bids']"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Bids</a></li>
            <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeDropdown()" [routerLink]="['/jobs']"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Jobs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a *ngIf="authService.loggedIn()" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="glyphicon glyphicon-collapse-down"></span> Manage
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeDropdown()" [routerLink]="['/materials']">
                            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Materials</a>
                    </li>
                    <li>
                        <a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeDropdown()" [routerLink]="['/equipment']">
                            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Equipment</a>
                    </li>
                    <li>
                        <a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="closeDropdown()" [routerLink]="['/labor']">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Labor</a>
                    </li>
                    <!-- <li class="divider"></li>
                    <li>
                        <a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile']">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Profile</a>
                    </li> -->
                </ul>
            </li>
            <!-- <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/materials']"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Materials</a></li>
            <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/labor']"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Labor</a></li> -->
            <!-- <li><a *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/register']">Register User</a></li> -->
            <li><a *ngIf="authService.loggedIn()" data-toggle="modal" href='#logout-modal'><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>


<!--                Logout Popup                -->
<div class="modal fade" id="logout-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onLogout()">Yes</button>
            </div>
        </div>
    </div>
</div>