<div class="pull-left">
  <button class="btn btn-default" [routerLink]="['/home']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Go Home</button>
</div>

<ng-container *ngIf="jobsLength!=0; else noJobs">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">Jobs</h2>
    <h4>Click To View Details</h4>
    <table *ngIf="displayTable" datatable [dtOptions]="dtOptions" class="table table-bordered table-hover">
      <thead>
        <tr class="active">
          <th class="hidden-xs hidden-sm">ID</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Created Date</th>
          <th class="hidden-xs hidden-sm">Completion Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs;" id="{{job.jobID}}" [routerLink]="['/jobs/'+job.jobID]">
          <td class="hidden-xs hidden-sm">{{job.jobID}}</td>
          <td>{{job.customerName}}</td>
          <td>{{job.jobStatus}}</td>
          <td>{{job.createdDate | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="job.jobStatus != 'IN-PROGRESS'" class="hidden-xs hidden-sm">{{job.endDate | date: 'MM/dd/yyyy'}}</td>
          <td *ngIf="job.jobStatus == 'IN-PROGRESS'" class="hidden-xs hidden-sm">N/A</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-template #noJobs>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">No Jobs</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </div>
</ng-template>


<!--                                              UNUSED MARKUP                                                       -->
<!-- <ng-container *ngIf="inProgressLength!=0 || completedLength!=0; else noJobs">
  <ng-container *ngIf="inProgressLength!=0; else noInProgressJobs">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2 class="page-header">In Progress Jobs</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Revenue</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inProgressJob of inProgressJobs;" [routerLink]="['/jobs/'+inProgressJob.jobID]">
            <td>{{inProgressJob.jobID}}</td>
            <td>{{inProgressJob.jobRevenue}}</td>
            <td>{{inProgressJob.createdDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </ng-container>
  <ng-template #noInProgressJobs>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2 class="page-header">No Jobs In Progress</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>
  
  <ng-container *ngIf="completedLength!=0; else noCompletedJobs">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2 class="page-header">Completed Jobs</h2>
      <h4>Click To View Details</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Labor Cost</th>
            <th>Material Cost</th>
            <th>Income</th>
            <th>Created Date</th>
            <th>Completed Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let completedJob of completedJobs;" [routerLink]="['/jobs/'+completedJob.jobID]">
            <td>{{completedJob.jobID}}</td>
            <td>{{completedJob.jobLabor}}</td>
            <td>Net Income</td>
            <td>{{completedJob.endDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </ng-container>
  <ng-template #noCompletedJobs>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2 class="page-header">No Completed Jobs</h2>
      <p>If this is incorrect, try refreshing the page.</p>
    </div>
  </ng-template>
</ng-container>
<ng-template #noJobs>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="page-header">No Jobs</h2>
    <p>If this is incorrect, try refreshing the page.</p>
  </div>
</ng-template> -->